%%% -*- mode: erlang -*-
{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.
{deps, [
        {hackney, "", {git, "git@git.herokai.com:hackney.git", {tag, "0.4.2"}}},
        {jsx, "", {git, "git@git.herokai.com:jsx.git", {tag, "v1.4.2"}}},
        {meck, "", {git, "git@git.herokai.com:meck.git", {tag, "0.7.2"}}}
       ]}.
