%%% -*- mode: erlang -*-
{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.
{deps, [
        {hackney, "0.4.2", {git, "git@git.herokai.com:hackney.git", {tag, "0.4.2"}}},
        {jsx, "1.4.2", {git, "git@git.herokai.com:jsx.git", {tag, "v1.4.2"}}},
        {meck, "0.7.2", {git, "git@git.herokai.com:meck.git", {tag, "0.7.2"}}}
       ]}.
